@import "tailwindcss";
@font-face {
  font-family: "Inter";
  src: url(./font/Inter.ttf);
}

*{
  @apply font-Inter
}

@theme{
  --color-naturalBlack: #263238;
  --color-naturalD_Grey: #4D4D4D;
  --color-naturalGrey: #717171;
  --color-naturalL_Grey: #89939E;
  --color-naturalGrey-blue: #ABBED1;
  --color-naturalSilver: #F5F7FA;
  --color-naturalWhite: #FFFFFF;
  --color-Primary: #4CAF4F;
  --color-ShadowPrimary: #28CB8B;
  --color-Secondary: #263238;
  --color-Info: #2194f3;
  --color-Shade1: #43A046;
  --color-Shade2: #388E3B;
  --color-Shade3: #237D31;
  --color-Shade4: #1B5E1F;
  --color-Shade5: #103E13;
  --color-Tint1: #66BB69;
  --color-Tint2: #81C784;
  --color-Tint3: #A5D6A7;
  --color-Tint4: #C8E6C9;
  --color-Tint5: #E8F5E9;
  --color-Warning: #FBC02D;
  --color-Error: #E53835;
  --color-Success: #2E7D31;
  --font-Inter: "Inter", sans-serif;
  --breakpoint-lg: 1000px;
  --breakpoint-md:600px;
  --breakpoint-sm: 400px;
}

body{
  position: relative;
  height: 100vh;
}

#root{
  height: 100%;
}

._shadow{
  box-shadow: 0px 2px 12px -9px #263238;
}

._shadow2{
  box-shadow: 0px 0px 5px 5px #abbed14a;
}